[project]
	description = homework on OOP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Igor Jorch (FOODzee)
[access "refs/for/refs/*"]
	read = group user/Igor Jorch (FOODzee)
	push = group user/Igor Jorch (FOODzee)
	label-Code-Review = -2..+2 group user/Igor Jorch (FOODzee)
	label-Verified = -1..+1 group user/Igor Jorch (FOODzee)
	rebase = group user/Igor Jorch (FOODzee)
	removeReviewer = group user/Igor Jorch (FOODzee)
	submit = group user/Igor Jorch (FOODzee)
[access "refs/heads/*"]
	read = group user/Igor Jorch (FOODzee)
	create = group user/Igor Jorch (FOODzee)
	push = +force group user/Igor Jorch (FOODzee)
	pushMerge = group user/Igor Jorch (FOODzee)
[access "refs/tags/*"]
	push = group user/Igor Jorch (FOODzee)
	push = +force group user/Igor Jorch (FOODzee)
